* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}
/********************** H-elemenst / Text  ************************/

h1 {
  margin-left: 2rem;
  margin-top: 2rem;
}

/********************** Kategori ************************/
.style_kategori {
  margin-top: 3%;
  padding-left: 5%;
  display: grid;
  grid-template-columns: repeat(auto-fill, 280px);
}
a.category {
  text-decoration: none;
  text-align: center;
  border: 2px solid #323232;
  padding: 20%;
  background-color: #ddd0c8;
  color: #000000;
}
/********************** Produkt ************************/

.product_img img {
  width: 30vw;
  object-fit: cover;
  margin-top: 3%;
}

main {
  transition: opacity 0.5s;
}

.hidden {
  opacity: 0;
}
/********************** Produktliste ************************/
a.read_more {
  text-decoration: none;
  color: darkgreen;
}
.Product img {
  max-width: 100%;
  height: auto;
  display: block;
}

main {
  max-width: 1000px;
  margin: auto;
  display: grid;
  grid-template-columns: repeat(auto-fill, 180px);
  gap: 1rem;
}

.Product {
  border: 2px solid #323232;
  padding: 4%;
  background-color: #ddd0c8;
  margin: 3%;
}

.soldOut2 {
  display: none;
}
.soldOut.soldOut2 {
  display: block;
  background-color: red;
}

/********************** nav ************************/

.nav_menu {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #323232;
  padding: 20px;
  position: relative;
  font-weight: 400;
  font-style: normal;
  z-index: 1;
}

.nav_links {
  display: flex;
  list-style: none;
  padding: 0;
  margin: 0;
}

.nav_links li {
  margin: 0;
}

.nav_links a {
  display: block;
  padding: 20px;
  text-decoration: none;
  color: #ddd0c8;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-weight: 300;
  font-style: normal;
  font-size: 1rem;
}

.burger {
  display: none;
  flex-direction: column;
  cursor: pointer;
}

.burger .lines {
  width: 25px;
  height: 3px;
  background-color: white;
  margin-bottom: 5px;
}

.nav_links.active {
  display: flex;
  flex-direction: column;
  position: absolute;
  top: 100%;
  left: 0;
  width: 100%;
  background-color: #000000;
}

.ikon img {
  width: 80px;
  height: auto;
}

@media screen and (max-width: 768px) {
  .nav_links {
    display: none;
  }

  .burger {
    display: flex;
  }

  .nav_links.active {
    display: flex;
  }
}
