* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
/********************** H-elemenst / Text  ************************/

h1 {
  margin-left: 2rem;
  margin-top: 2rem;
}

/********************** Kategori ************************/

.kategori_list {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(2, 1fr);
  gap: 3rem;
  margin: 2rem;
}
.kategori_list_item {
  border: 5px solid black;
  padding: 7rem;
  text-align: center;
  background-color: rgb(255, 170, 0);
}

/********************** Produkt ************************/
.product_grid {
  margin: 2rem;
}
@media (min-width: 800px) {
  .product_grid {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    padding: 1rem;
  }
  .product_img {
    grid-column: 1 / span 2;
  }
  .product_text {
    grid-column: 3;
  }
}
/********************** Produktliste ************************/
